* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/quinta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
}

h1 {
    padding-top: 25px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

table {
    margin: 20px;
}

th {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

td {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

.verde {
    background-color: rgb(150, 250, 0);
    width: 200px;
    border-radius: 5px;
}

button {
    margin: 10px;
    width: 75px;
    height: 35px;
    background-color: rgb(150, 250, 0);
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

span {
    font-size: 20px;
}
