@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(255,105,180,1) 0%, rgba(252,70,107,1) 100%);
}

.container {
    text-align: center;
}

h1 {
    padding-top: 25px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    font-family: 'Quintessential', cursive;
}

button {
    margin: 10px;
    width: 250px;
    height: 70px;
    font-family: 'Quintessential', cursive;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #ffa1d0;
    box-shadow: inset 12px 12px 24px #bf799c, inset -12px -12px 24px #ffc9ff;
    cursor: pointer;
    border: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}
